/* Googlefont Poppins CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@100..900&family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

/* color {
  #5751e1,
  #141E46,
  #61677A
  #fff
}
background {
  #5751e1,
  #ffc224,
  #efeefe,
  #efeff2,
  #6D6C80,
}
breakpoint {
  --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
}
box-shadow {
  box-shadow: 4px 6px 0px 0px #3D3D3D; all button,
  box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.25); hover icon social,
  box-shadow: 4px 6px 0px 0px var(--tg-common-color-blue); hovwer button ,
  filter: drop-shadow(10px 10px 0px #CAC9D6); Box template,
box-shadow: 4px 4px 0px 0px #3D3D3D; link to view detail,
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: "Oswald", sans-serif; */
  /* font-family: "Noto Sans Khmer", sans-serif; */
}

body {
  background: #fff;
}

section {
  padding: 15px 4%;
  margin-top: 80px;
}

/* Nav bar start */
nav .navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background: #fff;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  transition: 0.6s;
  z-index: 10000;
}
/* Add this CSS to make navbar sticky on scroll */
.navbar.sticky {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  z-index: 1000;
  padding: 15px 5%;
  transition: 0.6s;
}
/* Start left menu */
.navbar .left-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-menu .logo-box {
  width: auto;
  margin-left: -42px;
}
.logo-box .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.logo img {
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.logo .logo-name {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: #161439;
  margin-left: -25px;
}
.menu-lists {
  display: flex;
  margin-left: 40px;
  position: relative;
}
.menu-lists li {
  position: relative; /* Add this line */
  list-style: none;
  margin: 0 10px;
  padding: 10px;
}
.menu-lists li .links {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.1s ease;
}
.menu-lists li .links:hover {
  color: #5751e1;
}

/* Sub menu */
.menu-lists li .sub-menu {
  position: absolute; /* Change this line */
  top: 100%; /* Adjust as needed */
  left: 0; /* Adjust as needed */
  min-width: 230px;
  border: 1px solid #f5f5f5;
  border-radius: 6px;
  padding: 18px 0;
  display: none; /* Change this line */
  background: #fff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  z-index: 9;
  transition: all 0.3s ease-in-out;
}
.menu-lists li .sub-menu .line {
  width: 100%;
  height: 3px;
  margin-top: -16px;
  border-radius: 50px;
  background: #5751e1;
}
.menu-lists li .sub-menu li a {
  line-height: 1.4;
  font-size: 16px;
  font-weight: 600;
  display: block;
  color: #333333;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.menu-lists li .sub-menu li a:hover {
  color: #5751e1;
  transform: translateX(8px);
}
.menu-lists li:hover .sub-menu {
  display: block; /* Change this line */
}
/* Sub menu */

.menu-lists li .links i {
  margin-left: 6px;
  font-size: 13px;
  font-weight: 600;
}
/* End left menu */

/* Start right menu */
.navbar .right-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-menu .box-search {
  position: relative;
  display: flex;
  width: 500px;
  padding: 15px 12px;
  border: 1px solid #cac9d6;
  border-radius: 50px;
  margin-right: 15px;
}
.box-search .categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
.categories img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: 6px;
}
.categories .category_drop span {
  font-weight: 600;
}
.categories .category_drop i {
  margin-left: 6px;
  font-size: 14px;
  font-weight: 600;
}
.categories .dropdown-categories {
  position: absolute; /* Change this line */
  top: 40px; /* Adjust as needed */
  left: 0; /* Adjust as needed */
  min-width: 155px;
  border: 1px solid #f5f5f5;
  border-radius: 6px;
  padding: 18px 0;
  display: none;
  background: #fff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}
.categories .dropdown-categories.show-category {
  display: block;
}
.dropdown-categories .line {
  width: 100%;
  height: 3px;
  margin-top: -16px;
  border-radius: 50px;
  background: #5751e1;
}
.dropdown-categories li {
  list-style: none;
  /* margin: 5px; */
  padding: 5px;
}
.dropdown-categories li:hover {
  background: #5751e1;
  color: #fff;
}
.dropdown-categories li:hover a {
  color: #fff;
}
.dropdown-categories li a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #333333;
}
.dropdown-categories li a:hover .box-search .input-search {
  display: flex;
  /* position: relative; */
  margin-left: 11px;
}
.input-search input {
  padding-left: 15px;
  padding-top: 2px;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
  width: 300px;
  border: none;
  border-left: 1px solid #333333;
  outline: none;
}
.input-search .icon-search {
  position: absolute;
  top: 2px;
  right: 3px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  background: #5751e1;
  border: none;
  outline: none;
  font-size: 13px;
  cursor: pointer;
}
.right-menu .login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  color: #fff;
  background: #5751e1;
  border: none;
  outline: none;
  cursor: pointer;
}
.menu-bar {
  display: none;
}
.menu-bar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
}
/* End right menu */

/* Navbar phone */
.navbar-phone {
  position: fixed;
  top: 0;
  right: -100%;
  width: 350px;
  height: 100%;
  padding: 0 14px;
  background: #fff;
  transition: 0.6s ease;
  z-index: 10001;
}
.navbar-phone.show-menuPh {
  right: 0;
}
.navbar-phone .header-phone {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-phone .logo-box .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.header-phone .x-menu {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #5751e1;
  cursor: pointer;
}
.input-search-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.input-search-phone input {
  position: relative;
  padding-left: 15px;
  padding-top: 2px;
  font-size: 14px;
  font-weight: 500;
  width: 300px;
  height: 45px;
  border-radius: 5px;
  background: #f5f5f5;
  border: none;
  outline: none;
}
.input-search-phone .icon-search {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  background: #5751e1;
  border: none;
  outline: none;
  font-size: 13px;
  cursor: pointer;
}
.drop-menu-lists {
  margin-top: 40px;
  padding: 0;
}

.drop-menu-lists .lists {
  list-style: none;
  margin: 15px 0;
}

.drop-menu-lists .lists a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #333333;
}

.drop-menu-lists .lists .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drop-menu-lists .lists .dropdown-btn {
  width: 35px;
  height: 35px;
  background: #5751e1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  border-radius: 3px;
}

.drop-menu-lists .lists .sub-menu {
  display: none;
  padding-left: 0;
}

.drop-menu-lists .lists .sub-menu li {
  padding: 6px 15px;
  list-style: none;
}

.drop-menu-lists .lists .sub-menu li a {
  color: #333333;
  transition: 0.3s;
}

.drop-menu-lists .lists .sub-menu li a:hover {
  color: #5751e1;
  transform: translateX(8px);
}

.background-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  transition: 0.6s;
}
.background-backdrop.add-background {
  display: block;
  z-index: 999;
}
/* Navbar phone */
/* Nav bar end */

/* Home session */
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
}
/* Start left home */
.left-home {
  width: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.left-home .title_home {
  font-family: "Noto Sans Khmer", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #161439;
}
.left-home .title_home span {
  font-family: "Poppins", sans-serif;
  color: #5751e1;
  font-weight: 600;
}
.left-home .detail_website {
  font-family: "Noto Sans Khmer", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #3d3d3d;
  margin-top: 10px;
}
.left-home .link-view {
  margin-top: 50px;
}
.left-home a {
  padding: 16px 30px;
  color: #fff;
  font-family: "Noto Sans Khmer", sans-serif;
  background: #5751e1;
  box-shadow: 4px 6px 0px 0px #161439;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.4s linear;
}
.left-home a:hover {
  background: #ffc224;
  color: #333333;
  box-shadow: 0 0 0 0;
}
.left-home a i {
  margin-left: 8px;
}
.left-home .univers .univers-shape .spacese {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.left-home .univers .univers-shape .spacese img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.left-home .univers .univers-shape .spacese.one {
  position: absolute;
  top: 200px;
  left: 350px;
  animation: spin_astronaut 15s linear infinite;
}
@keyframes spin_astronaut {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.left-home .univers .univers-shape .spacese.two {
  position: absolute;
  top: 80px;
  left: 600px;
  animation: spin_astronaut 15s linear infinite;
}
@keyframes spin_astronaut {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.left-home .univers .univers-shape .spacese.tree {
  position: absolute;
  top: -130px;
  animation: spin_galaxy 15s linear infinite;
}
@keyframes spin_galaxy {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.left-home .univers .univers-shape .spacese.four {
  position: absolute;
  top: -90px;
  left: 630px;
  animation: zoom_univers 10s linear infinite;
}
@keyframes zoom_univers {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2); /* Zoom in slightly */
  }
  100% {
    transform: scale(1); /* Return to normal size */
  }
}
.left-home .univers .univers-shape .spacese.five {
  position: absolute;
  top: -10px;
  left: 430px;
  animation: spin_rocket 3s linear infinite;
}
.left-home .univers .univers-shape .spacese.five img {
  width: 35px;
  height: 35px;
  object-fit: cover;
}
@keyframes spin_rocket {
  0% {
    transform: translateY(-10px) translateX(8px);
  }
  50% {
    transform: translateY(0) translateX(0);
  }
  75% {
    transform: translateY(-10px) translateX(8px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}
/* End left home */

/* Start right home */
.right-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-right: 5%;
}
.right-home .box_banner {
  display: block;
  width: 500px;
  height: 500px;
}
.right-home .box_banner .shape {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.right-home .box_banner .shape_one {
  margin-top: 50px;
  margin-left: 70px;
  z-index: -1;
}
.right-home .box_banner .shape_two {
  animation: spin 100s linear infinite;
  margin-left: 60px;
  z-index: -1;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.right-home .box_banner .shape_tree {
  margin-top: 70px;
  transition: 1s ease;
  z-index: -1;
}
.right-home .box_banner:hover .shape_tree {
  transform: translateY(-10px) translateX(8px);
}
.banner img {
  width: 600px;
  height: auto;
  z-index: -1;
}
.right-home .box_banner .lists_creator {
  position: absolute;
  top: 30px;
  left: -120px;
  width: 200px;
  padding: 11px 30px 11px 14px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 9px 10px 0px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.right-home .box_banner .lists_creator .creator {
  display: flex;
  align-items: center;
  margin: 7px 0;
  cursor: pointer;
}
.right-home .box_banner .lists_creator .creator img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}
/* End right home */
/* Home session */

/* Category trending */
.top_category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.top_category .header_category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.top_category .header_category .title_cate {
  font-size: 16px;
  color: #5751e1;
  background: #efeefe;
  padding: 3px 16px;
  border-radius: 30px;
  margin: 10px 0;
}
.top_category .header_category .detail_cate {
  font-size: 30px;
  padding: 3px 16px;
  border-radius: 30px;
  margin: 10px 0;
}
.top_category .header_category .detail_cate span {
  font-family: "Noto Sans Khmer", sans-serif;
}
.top_category .header_category .des_cate {
  font-size: 16px;
  color: #3d3d3d;
  margin: 10px 0;
}
.top_category .display_cate {
  width: 100%;
  height: auto;
}

.top_category .display_cate .box-cate {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  padding: 10px;
}

.display_cate .box-cate .item-cate {
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  /* box-shadow: 4px 6px 0px 0px #161439; */
}
.display_cate .box-cate .item-cate:hover {
  box-shadow: 0 0 0 0;
}
.display_cate .box-cate .item-cate .cate-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-right: 15px;
  margin-left: 8px;
  border-radius: 5px;
}
.display_cate .box-cate .item-cate img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.display_cate .box-cate .item-cate.one {
  background: #fc544b;
  color: #fff;
}
.display_cate .box-cate .item-cate.two {
  background: #ffc107;
  color: #fff;
}
.display_cate .box-cate .item-cate.tree {
  background: #6777ef;
  color: #fff;
}
.display_cate .box-cate .item-cate.four {
  background: #c70039;
  color: #fff;
}
.display_cate .box-cate .item-cate.five {
  background: #e1ebff;
  color: #fff;
}
.display_cate .box-cate .item-cate.six {
  background: #3abaf4;
  color: #fff;
}
.display_cate .box-cate .item-cate.seven {
  background: #5ab2ff;
  color: #fff;
}
.display_cate .box-cate .item-cate.eight {
  background: #1cb098;
  color: #fff;
}
.display_cate .box-cate .item-cate.nine {
  background: #007f73;
  color: #fff;
}
.display_cate .box-cate .item-cate.ten {
  background: #8e3e63;
  color: #fff;
}
.display_cate .box-cate .item-cate.eleven {
  background: #d74b76;
  color: #fff;
}
.display_cate .box-cate .item-cate.twelve {
  background: #eeeeee;
  color: #fff;
}
/* Category trending */

/* Template of coding */
.top_template {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 750px;
}
.top_template .header_template {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.top_template .header_template .title_template {
  font-size: 16px;
  color: #5751e1;
  background: #efeefe;
  padding: 3px 16px;
  border-radius: 30px;
  margin: 10px 0;
}
.top_template .header_template .detail_template {
  font-size: 30px;
  padding: 3px 16px;
  border-radius: 30px;
  margin: 10px 0;
}
.top_template .header_template .des_template span {
  font-family: "Noto Sans Khmer", sans-serif;
}
.top_template .header_template .des_template {
  font-size: 16px;
  color: #3d3d3d;
  margin: 10px 0;
}
.top_template .display_template {
  width: 100%;
  height: auto;
}
.top_template .filter_template {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top_template .filter_template .tab-btn {
  margin: 10px 15px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.top_template .filter_template .tab-btn.active {
  color: #5751e1;
  font-weight: 600;
}
.top_template .filter_template .tab-btn:hover {
  color: #5751e1;
  font-weight: 600;
}

.top_template .display_template {
  display: block;
  overflow: hidden;
  padding: 10px 15px;
  margin: 30px 0;
}
.display_template .box-template {
  display: flex;
}
.display_template .box-template .item-template {
  width: 300px;
  height: 440px;
  padding: 25px 18px 32px;
  /* margin: 15px 10px; */
  background: #fff;
  border-radius: 10px;
  border: 1px solid #b5b5c3;
  transition: all 0.4s ease;
}
.display_template .box-template .item-template:hover {
  filter: drop-shadow(10px 10px 0px #cac9d6);
}
.display_template .box-template .item-template a img {
  width: 100%;
  height: 190px;
  object-fit: contain;
  border-radius: 6px;
}
.display_template .box-template .item-template .link_cate .cate {
  font-size: 9px;
  font-weight: 500;
  color: #333333;
  width: 100px;
  background: #efeff2;
  border-radius: 50px;
  padding: 7px 13px;
  margin: 20px 0 10px;
  display: block;
  text-decoration: none;
}
.display_template .box-template .item-template .template_name .name {
  display: inline;
  background-image: linear-gradient(#161439, #161439),
    linear-gradient(#161439, #161439);
  background-size: 0% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  font-size: 15px;
  font-weight: 600;
  color: #333333;
  transition: background-size 0.4s linear;
  text-decoration: none;
}
.display_template .box-template .item-template .template_name .name:hover {
  color: inherit;
  background-size: 0 2px, 100% 2px;
}
.display_template .box-template .item-template .post_by {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.display_template .box-template .item-template .post_by span {
  font-size: 13px;
  font-weight: 400px;
  color: #3d3d3d;
}
.display_template .box-template .item-template .post_by .by_user {
  font-size: 13px;
  font-weight: 600;
  color: #333333;
  text-decoration: none;
}
.display_template .box-template .item-template .link_detail {
  margin: 20px 0 10px;
}
.display_template .box-template .item-template .link_detail .detail {
  display: block;
  text-align: center;
  width: 150px;
  margin-top: -10px;
  padding: 10px 30px;
  color: #fff;
  font-size: 18px;
  font-family: "Noto Sans Khmer", sans-serif;
  background: #ffc107;
  box-shadow: 4px 6px 0px 0px #161439;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.4s linear;
}
.display_template .box-template .item-template .link_detail .detail:hover {
  background: #ffc224;
  color: #333333;
  box-shadow: 0 0 0 0;
}
/* Template of coding */

/* Creator detail */
.creator_detail {
  display: flex;
  align-items: center;
  width: 100%;
  height: 650px;
  margin-top: -50px;
}
.creator_detail .creator_left {
  display: flex;
  flex-direction: column;
  /* width: 450px; */
  margin-right: 10px;
}
.creator_left .title_creator {
  width: 200px;
  text-align: center;
  font-size: 16px;
  color: #5751e1;
  background: #efeefe;
  padding: 3px 16px;
  border-radius: 30px;
  margin: 5px 0;
}
.creator_left .detail_creator {
  font-size: 30px;
  padding: 3px 16px;
  border-radius: 30px;
  margin: 10px 0;
  margin-left: -15px;
  font-family: "Noto Sans Khmer", sans-serif;
}
.creator_left .des_creator {
  font-size: 16px;
  color: #3d3d3d;
  margin: 10px 0;
  font-family: "Noto Sans Khmer", sans-serif;
  font-weight: 500;
}
.creator_left .link-view {
  margin-top: 50px;
}
.creator_left a {
  padding: 16px 30px;
  font-family: "Noto Sans Khmer", sans-serif;
  color: #fff;
  background: #5751e1;
  box-shadow: 4px 6px 0px 0px #161439;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.4s linear;
}
.creator_left a:hover {
  background: #ffc224;
  color: #333333;
  box-shadow: 0 0 0 0;
}
.creator_detail .creator_right {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.creator_right .box_creator .creators {
  display: flex;
  align-items: center;
  width: 500px;
  height: 230px;
}
.box_creator .creators .box-profile .box_img img {
  width: 170px;
  height: 170px;
  object-fit: contain;
}
.box_creator .creators .box_detail {
  display: flex;
  flex-direction: column;
}
.box_creator .creators .box_detail .name_creator {
  font-size: 24px;
  font-weight: 600;
  color: #333333;
  text-decoration: none;
  transition: 0.3s;
}
.box_creator .creators .box_detail .name_creator:hover {
  color: #ffc107;
}
.box_creator .creators .box_detail .skill {
  font-size: 14px;
  font-weight: 500;
  color: #5751e1;
  text-decoration: none;
  margin: 10px 0;
  margin-top: 5px;
}
.box_creator .creators .box_detail .list-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 30px;
}
.box_creator .creators .box_detail .list-wrap li {
  list-style: none;
}
.box_creator .creators .box_detail .list-wrap li a {
  width: 36px;
  height: 36px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.835px solid #9292b4;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 2.50435px 3.33913px 0px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  color: #7f7e97;
}
.box_creator .creators .box_detail .list-wrap li a:hover {
  background: #5751e1;
  box-shadow: none;
  border-color: #5751e1;
  color: #fff;
}
/* Creator detail */

/* Break point responsive */
@media (max-width: 1440px) {
  .navbar {
    padding: 15px 2%;
  }
  .right-menu .box-search {
    position: relative;
    display: flex;
    width: 400px;
    padding: 15px 12px;
    border: 1px solid #cac9d6;
    border-radius: 50px;
    margin-right: 15px;
  }
  .right-home .box_banner .shape_tree img {
    width: 560px;
    margin-top: 40px;
  }
  .input-search input {
    padding-left: 15px;
    padding-top: 2px;
    font-size: 14px;
    font-weight: 500;
    width: 200px;
    border: none;
    border-left: 1px solid #333333;
    outline: none;
  }
}
@media (max-width: 1024px) {
  .menu-lists {
    display: none;
  }
  .menu-bar {
    display: block;
  }
  .right-home .box_banner .shape_one {
    margin-top: 60px;
    margin-left: 190px;
  }
  .right-home .box_banner .shape_two {
    margin-left: 150px;
  }
  .right-home .box_banner .shape_tree img {
    width: 530px;
    margin-top: 40px;
    margin-left: 50px;
  }
  .right-home .box_banner .banner img {
    margin-left: 60px;
  }
  .right-home .box_banner .lists_creator {
    top: 30px;
    left: 0px;
    width: 200px;
    padding: 11px 30px 11px 14px;
  }
  .right-home .box_banner .lists_creator .creator {
    display: flex;
    align-items: center;
    margin: 7px 0;
  }
  .right-home .box_banner .lists_creator .creator img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
  }
  .left-home .univers .univers-shape .spacese.one {
    position: absolute;
    top: 400px;
    left: 150px;
    animation: spin_astronaut 15s linear infinite;
  }
  .left-home .univers .univers-shape .spacese.two {
    position: absolute;
    top: 170px;
    left: 350px;
  }
  .left-home .univers .univers-shape .spacese.tree {
    position: absolute;
    top: -65px;
  }
  .left-home .univers .univers-shape .spacese.four {
    position: absolute;
    top: -70px;
    left: 530px;
    z-index: 2;
  }
  .left-home .univers .univers-shape .spacese.five {
    position: absolute;
    top: 70px;
    left: 60px;
  }
  .top_category,
  .top_template {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .top_category .header_category,
  .top_template .header_template {
    margin-left: 100px;
  }
  .top_template .filter_template {
    margin-left: 75px;
  }
  .top_category .display_cate,
  .top_template .display_template {
    margin-left: 40px;
  }
  .top_category .display_cate .box-cate {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    padding: 10px;
  }
  .creator_detail {
    display: flex;
    flex-direction: column;
  }
  .creator_detail .creator_left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .creator_detail .creator_right {
    display: flex;
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  /* .home,
  .top_category,
  .top_template,
  .creator_detail {
    padding-left: 15%;
  } */
  .right-menu .box-search {
    position: relative;
    display: flex;
    width: 200px;
    padding: 15px 12px;
    border: 1px solid #cac9d6;
    border-radius: 50px;
    margin-right: 15px;
  }
  .right-menu .box-search {
    display: none;
  }
  .logo-box {
    margin-left: -30px;
  }
  .box-search .input-search {
    display: none;
  }
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .right-menu .login {
    display: none;
  }
  /* .left-home {
    margin-left: 120px;
  } */
  .right-home {
    margin-top: 60px;
  }
  .right-home .box_banner .shape_one img {
    margin-left: 10px;
  }
  .right-home .box_banner .lists_creator {
    left: 10px;
  }
  .left-home .univers .univers-shape .spacese.one {
    position: absolute;
    top: 240px;
    left: 150px;
    animation: spin_astronaut 15s linear infinite;
  }
  .left-home .univers .univers-shape .spacese.two {
    position: absolute;
    top: 170px;
    left: 350px;
  }
  .left-home .univers .univers-shape .spacese.tree {
    position: absolute;
    top: -35px;
    left: -60px;
  }
  .left-home .univers .univers-shape .spacese.four {
    position: absolute;
    top: -20px;
    left: 530px;
    z-index: 2;
  }
  .left-home .univers .univers-shape .spacese.five {
    position: absolute;
    top: 20;
    left: 400px;
  }
  .top_category .header_category,
  .top_template .header_template {
    margin-left: 40px;
  }
  .display_cate,
  .display_template {
    margin-left: 40px;
  }
  .top_template .filter_template {
    margin-left: 50px;
  }
  .top_category .display_cate .box-cate {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    padding: 10px;
  }
  .display_cate .box-cate .item-cate,
  .display_template .box-template .item-template {
    margin-left: -10px;
  }
  .creator_detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
  }
  .creator_detail .creator_left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .creator_detail .creator_right {
    display: flex;
    margin-left: 100px;
  }
  .creator_right .box_creator .creators {
    display: flex;
    align-items: center;
    width: 400px;
    height: 230px;
  }
}

@media (max-width: 425px) {
  .home {
    justify-content: center;
  }
  .left-home {
    margin: 0 auto; /* Center the .left-home horizontally */
    padding: 0; /* Remove padding to ensure true centering */
    width: 370px; /* Adjust width as needed */
  }
  .right-home .box_banner .shape {
    position: absolute;
    top: 0;
    left: 100px;
  }
  .right-home .box_banner .shape_one img {
    margin-left: -20px;
  }
  .right-home .box_banner .shape_two {
    margin-left: 100px;
  }
  .right-home .box_banner .shape_tree img {
    width: 550px;
    margin-top: 60px;
    /* margin-left: 50px; */
  }
  .right-home .box_banner .banner img {
    margin-left: 60px;
  }
  .right-home .box_banner .lists_creator {
    left: 100px;
  }

  .top_category {
    width: 600px;
  }
  .top_category,
  .top_template {
    width: 600px;
    /* margin-left: 100px; */
  }
  .top_template .filter_template {
    margin-left: 50px;
  }
  .creator_detail {
    width: 600px;
    /* margin-left: 100px; */
  }
  .creator_detail .creator_left {
    width: 500px;
    margin-top: 240px;
  }
  .creator_right .box_creator {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: -50px;
  }
  .creator_right .box_creator .creators {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 230px;
    margin-top: 130px;
  }
  .creator_detail .creator_right {
    display: flex;
    align-items: center;
    margin-top: -30px;
  }
  .box_creator .creators .box_detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
  }
  .box_creator .creators .box_detail .list-wrap {
    margin-top: 0;
  }
}

@media (max-width: 350px) {
  .home .left-home {
    /* margin-left: 350px; */
    /* width: 500px; */
  }
  .right-home .box_banner .shape_one {
    display: block;
    margin-left: 40px;
  }
  .right-home .box_banner .shape_two {
    margin-left: 100px;
  }
  .right-home .box_banner .shape_tree img {
    width: 580px;
    margin-top: 40px;
    margin-left: 50px;
  }
  .right-home .box_banner .banner img {
    margin-left: 60px;
  }
  .right-home .box_banner .lists_creator {
    position: absolute;
    top: 30px;
    left: -20px;
    width: 200px;
    padding: 11px 30px 11px 14px;
  }
  .right-home .box_banner .lists_creator .creator {
    display: flex;
    align-items: center;
    margin: 7px 0;
  }
  .right-home .box_banner .lists_creator .creator img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
  }

  .top_category,
  .top_template,
  .creator_detail {
    width: 600px;
    /* margin-left: 100px; */
  }
  .top_category .header_category,
  .top_template .header_template {
    margin-left: 200px;
  }
  .top_template .filter_template {
    margin-left: 100px;
  }
  .top_category .display_cate,
  .top_template .display_template {
    margin-left: 200px;
  }
  .top_category .display_cate .box-cate {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    padding: 10px;
  }
  .display_template .box-template .item-template {
    width: 400px;
    height: auto;
  }
  .display_template .box-template .item-template a img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
  }
}

@media (max-width: 360px) {
  .home .left-home {
    /* margin-left: 350px; */
    /* width: 500px; */
  }
  .right-home .box_banner .shape_one {
    display: block;
    margin-left: 200px;
  }
  .right-home .box_banner .shape_two {
    margin-left: 100px;
  }
  .right-home .box_banner .shape_tree img {
    width: 580px;
    margin-top: 40px;
    margin-left: 50px;
  }
  .right-home .box_banner .banner img {
    margin-left: 60px;
  }
  .right-home .box_banner .lists_creator {
    position: absolute;
    top: 30px;
    left: 100px;
    width: 200px;
    padding: 11px 30px 11px 14px;
  }
  .right-home .box_banner .lists_creator .creator {
    display: flex;
    align-items: center;
    margin: 7px 0;
  }
  .right-home .box_banner .lists_creator .creator img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
  }

  .top_category,
  .top_template,
  .creator_detail {
    width: 600px;
    /* margin-left: 100px; */
  }
  .top_category .header_category,
  .top_template .header_template {
    margin-left: 70px;
  }
  .top_template .filter_template {
    margin-left: 70px;
  }
  .top_category .display_cate,
  .top_template .display_template {
    margin-left: 100px;
  }
  .top_category .display_cate .box-cate {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    padding: 10px;
  }
  .display_template .box-template .item-template {
    width: 400px;
    height: auto;
  }
  .display_template .box-template .item-template a img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
  }
}
@media (max-width: 320px) {
  .navbar-phone {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 1000px;
    padding: 0 14px;
  }
  .home .left-home {
    margin-left: 50px;
    width: 500px;
  }
  .right-home .box_banner .lists_creator {
    position: absolute;
    top: 30px;
    left: 120px;
    width: 200px;
    padding: 11px 30px 11px 14px;
  }
  .top_category,
  .top_template {
    width: 600px;
    /* margin-left: 100px; */
  }
  .top_category .header_category,
  .top_template .header_template {
    margin-left: 100px;
    width: 100%;
  }
  .top_category .display_cate,
  .top_template .display_template {
    margin-left: 50px;
  }
  .creator_detail .creator_left {
    margin-top: -10px;
  }
  .creator_detail .creator_left {
    margin-left: 100px;
  }
}
/* Break point responsive */
